<h1>Кредитный онлайн-калькулятор</h1><script language="JavaScript" type="text/javascript">
         function sendcalc(){
            if(!document.form.percent.value || !document.form.credit.value || !document.form.term.value){
               alert('Вы ввели не все данные!');
               return false;
            }
         }
      </script>
      <to-copy xmlns=""><p>
Предлагаем вам рассчитать ориентировочную сумму ежемесячных платежей по возврату основной суммы и процентов за пользование кредитом в зависимости от срока кредитования и размера процентной ставки, а также определить наиболее удобную для вас схему кредитования.</p>
<p>Более подробную информацию можно получить при личной встрече с кредитным экспертом.</p>

<form action="./result/" method="post" onSubmit="return sendcalc()" target="graphic" name="form">
<input type="hidden" name="mod" id="mod" value="xml">
<table class="form" width="100%" cellpadding="5" cellspacing="0">
  <tr>
    <td width="35%"><b>Кредитные сведения:</b></td>
    <td width="65%"> </td>
  </tr>
  <tr>
    <td><label for="percent">Процентная ставка (%):</label></td>
    <td><input type="text" name="percent" id="percent" value="" style="" size="3"><br><p><font color="red">Внимание: Данные вводятся через точку!</font></p></td>
  </tr>
  <tr>
    <td><label for="credit">Сумма кредита:</label></td>
    <td><input type="text" name="credit" id="credit" value="" style="" size="10"></td>
  </tr>
  <tr>
    <td><label>Метод погашения кредита:</label></td>
    <td>
      <input type="radio" name="payOff" id="payOffUsual" value="Usual" checked>
      <label for="payOffUsual">Стандартный</label><br>
      <input type="radio" name="payOff" id="payOffEqual" value="Equal">
      <label for="payOffEqual">Аннуитентный (равными частями)</label>
    </td>
  </tr>
  <tr>
    <td><label for="term">Срок кредита (в месяцах):</label></td>
    <td><input type="text" name="term" id="term" value="" style="" size="5"><br></td>
  </tr>
  <tr>
    <td><b>График платежей:</b></td>
    <td>
      <input type="submit" name="doGraph" value="Построить" id="doGraph">
      <br><br>
    </td>
  </tr>
</table>

  
